/* Layout dimensions */
$menuHeight: 50px;
$footerHeight: 40px;

/* Color palette */
$gray5: #F5F5F5;
$gray30: #EEEEEE;
$gray50: #CCCCCC;
$gray90: #999999;
$black: #000000;
$link: #428bca;
$linkHover: #2a6496;